Repository Starfly-13/STARFLY-13, pull requests merged in 2024-06, with the labels that each got.

#43 Updating computers
  icons/obj/machines/computer.dmi
Labels: Sprites

#44 Changing How Hallucinations work
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
Labels: Code change

#45 Updating the Mecha Icons
  icons/mecha/mecha.dmi
Labels: Sprites

#47 Code/modules/mob/living/simple animal/hostile /syndicate
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
Labels: Code change

#46 updated revolver
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Code change

#48 Constructable Suit Storage Units part 1
  code/game/machinery/suit_storage_unit.dm
Labels: Code change

#49 Constructable Suit Storage Units part 2
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Code change

#50 Constructable Suit Storage Units part 3
  code/modules/research/designs/machine_designs.dm
Labels: Code change

#51 Constructable Suit Storage Units part 4 (final)
  code/modules/research/techweb/all_nodes.dm
  code/modules/research/techweb/ballistic.dm
Labels: Code change

#55 Gun Lore Update
  code/__DEFINES/guns.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/gun.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/guns/ballistic/gauss.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/faction/gezena/energy_gunsword.dm
  code/modules/projectiles/guns/misc/bow.dm
  code/modules/projectiles/guns/misc/medbeam.dm
  icons/obj/ammo.dmi
  shiptest.dme
Labels: Code change, DME Edit, Sprites

#54 Armor value changes
  code/modules/mining/equipment/explorer_gear.dm
Labels: Code change

#52 Defib cargo/station
  code/modules/cargo/packs/medical.dm
Labels: Code change

#53 secret documents randomization
  code/modules/cargo/blackmarket/blackmarket_items/misc.dm
Labels: Code change

#58 Ship spawn adjustments
  _maps/configs/pgf_crying_sun.json
  _maps/configs/srm_elder.json
  _maps/configs/syndicate_aegis.json
  _maps/configs/syndicate_cybersun_kansatsu.json
Labels: Map Change

#59 As the title says
  code/datums/diseases/advance/presets.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/reagents/reagent_containers/bottle.dm
  shiptest.dme
Labels: Code change, DME Edit

#60 as the title says
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Code change

#61 as says
  code/datums/components/_component.dm
Labels: Code change

#62 down below
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
Labels: Code change

#63 as said above
  code/game/objects/items/storage/belt.dm
Labels: Code change

#64 yup
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Code change

#65 yey
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  icons/mob/ssd_indicator.dmi
Labels: Code change, Sprites

#66 respriting egg boxes
  code/game/objects/items/storage/fancy.dm
  icons/obj/food/containers.dmi
Labels: Code change, Sprites

#67 ye
  code/game/objects/items/kitchen.dm
Labels: Code change

#68 yarp
  check_regex.yaml
  code/modules/client/client_procs.dm
  code/modules/client/verbs/typing.dm
  html/typing_indicator.html
  interface/skin.dmf
Labels: Code change

#72 Publish Docker Images to GitHub Container Registry
  .github/workflows/build_linux.yml
  .github/workflows/build_windows.yml
  .github/workflows/publish_ghcr.yml
  .github/workflows/retired/cr_publish.yml
Labels: GitHub

#73 New wearables and lore update
  code/game/objects/effects/contraband.dm
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/contraband.dmi
  shiptest.dme
Labels: Code change, DME Edit, Sprites

#74 removed suns poster from twinkleshine
  _maps/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: Map Change

#77 Add new QA check for FILE_DIR to CI
  .github/workflows/build_linux.yml
  .github/workflows/build_windows.yml
  .github/workflows/check_file_dir.yml
Labels: GitHub

#79 Fixes issues caused by #73
  code/modules/clothing/neck/_neck.dm
  icons/obj/clothing/suits.dmi
  shiptest.dme
Labels: Code change, DME Edit, Sprites
