Repository Starfly-13/STARFLY-13, pull requests merged in 2024-01, with the labels that each got.

#29 Fix up a few bugs with Admin Freeze
  code/game/objects/effects/overlays.dm
  code/modules/admin/verbs/freeze.dm
Labels: Code change

#30 Makes CRYOSLEEP_SYMPTOMS a configurable flag
  code/controllers/configuration/entries/game_options.dm
  code/game/machinery/cryopod.dm
  config/game_options.txt
Labels: Code change, Config

#32 Enable FULL_INIT
  _maps/_basemap.dm
Labels: Code change, Map Change

#33 STARFLY'S FIRST NEW SPECIES: YEOSA'UNATHI
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  config/game_options.txt
  tgui/packages/tgui/interfaces/ScannerGate.js
Labels: Code change, Config, TGUI

#34 fixes yeosa'unathi language
  code/modules/language/draconic.dm
  code/modules/language/language_holder.dm
  icons/misc/language.dmi
Labels: Code change, Sprites

#35 Revert "fixes yeosa'unathi language"
  code/modules/language/draconic.dm
  code/modules/language/language_holder.dm
  icons/misc/language.dmi
Labels: Code change, Sprites
